.row 
  .col-md-12
    %h1= @course_session.name
    - @course_session.lessons.each do |lesson|
      .panel.panel-primary
        .panel-heading
          - if admin?
            .pull-right
              = link_to "edit", edit_session_lesson_path(@course_session,lesson.position), class: 'btn btn-xs btn-default'
          %h4.panel-title= lesson.name
        .panel-body
          = lesson.body_html.html_safe
          - if lesson.pages.count > 0
            = link_to "Open Lesson", session_lesson_path(@course_session,lesson.position), class: 'btn btn-primary'
          - elsif admin?
            = link_to "Create Page", new_session_lesson_page_path(@course_session, lesson.position), class: 'btn btn-primary', data: { remote: true } 
          %br
          %br
          %ul.list-group
            - lesson.lesson_assignments.each do |lesson_assignment|
              = render partial: '/user_assignments/user_assignment', locals: { lesson_assignment: lesson_assignment}
          %hr
        - if false
          .panel-footer
            %h4.panel-title Post a Question
          .panel-body
            = form_for :lesson_thread, url: session_lesson_threads_path(@course_session, lesson), remote: true do |f|
              .form-group
                = f.text_area :body, class: "form-control"
              .pull-right
                = f.submit "Post", class: "btn btn-default"
          
          
          
    - if @course_session.admin?
      .panel.panel-default
        .panel-heading
          %h4.panel-title Add a Lesson
        .panel-body
          = link_to "Create Lesson", new_session_lesson_path(@course_session), class: 'btn btn-primary'
