%li.list-group-item{id: "lesson_assignment-#{lesson_assignment.id}"}
  - user_assignment = @user_assignment || lesson_assignment.for_user(current_user,@all_lesson_assignment)
  = form_for user_assignment, html: { multipart: true, class: 'form-inline' }, remote: true do |f|
    = f.hidden_field :lesson_assignment_id
    - if user_assignment.errors.any?
      .alert.alert-danger
        = simple_format(user_assignment.errors.full_messages.join("\n"))
    %span.glyphicon.glyphicon-inbox
    = lesson_assignment.body_html.html_safe
    - if lesson_assignment.requires_url?
      .form-group
        %label.sr-only{for: 'user_assignment_url' } URL
        = f.text_field :url, class: 'form-control', placeholder: 'URL', style: "width: 400px"
    - if lesson_assignment.requires_file?
      - if user_assignment.file?
        = link_to image_tag(user_assignment.file(:thumb), height:64), user_assignment.file(:original)
        = link_to "change", "#", class: 'change-image'
      .form-group.upload-file{class: user_assignment.file? ? "hidden" : ""}
        %label.sr-only{for: 'user_assignment_url' } Image
        = f.file_field :file, class: 'form-control', placeholder: 'URL'
    - if user_assignment.new_record?
      = f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting" }
    - else
      = f.submit "Submitted", class: "btn", data: { disable_with: "Submitting" }
    .clear
    - if user_assignment.validate_url? && user_assignment.validation_errors.present?
      .alert.alert-warning
        = user_assignment.validation_errors.length
        = "validation errors, please resolve and resubmit"
        = link_to "HTML5 Validator", "http://html5.validator.nu/?doc=#{CGI.escape(user_assignment.url)}", target: "_blank"


            

