= simple_form_for @page, url: page_save_path(@page), html: { class: 'form-inline', id: "js-editor" } do |f|
  .panel.panel-default
    .panel-heading
      .pull-right
        .btn-group.js-split-selector{role: "group"}
          %button.btn.btn-default.active.btn-sm{type:"button", data: { value: "split" }} Split
          %button.btn.btn-default.btn-sm{type:"button", data: { value: "full" }} Full
        &nbsp;
        .btn-group.js-run{role: "group"}
          %button.btn.btn-success.btn-sm{href:"#", type: "submit"}= admin? ? "Save" : "Run Code"
          %button.btn.btn-success.btn-sm{href:"#", type: "submit"}
            %span.glyphicon.glyphicon-new-window
        - if admin?
          - if @edit_course
            %a.btn.btn-info.btn-sm{href: page_path(@page.position, preview: true)} Preview
          - else
            %a.btn.btn-info.btn-sm{href: page_path(@page.position, editor: true)} Edit
      - if @edit_course
        = f.input :name, label: false, placeholder: "Name"
        = f.input :page_type, as: :select, collection: Page.page_types, label: false
      - else
        %h2.panel-title   
          = @page.name
      .clear
    .panel-body{class: "#{"no-sidebar" if !admin? && @user_page.page_files.length == 1}"}
      .code-sidebar.js-files
        %ul.nav.nav-pills.nav-stacked
          - @user_page.conditional_page_files(@edit_course).each do |file|
            = render partial: 'page_file', locals: { page_file: file }
          - if admin?
            %li.js-add-file-container{role:"presentation"}
              %a.js-add-file{href: new_session_lesson_page_page_file_path(@course_session, @lesson.position, @page.position), data: { remote: true }} + Add a File
      .code-wrapper
        .code-area.js-code-area
          .editor-area
            #js-editor-code.code-editor
          .result-area
        .clear
      .clear
            
  :javascript
    LessonEditor.init();

