

.row
  .col-md-6
    = simple_form_for @lesson, url: @lesson.new_record? ? session_lessons_path(@course_session) : session_lesson_path(@course_session, @lesson.position), html: { class: 'form-horizontal' } do |f|
      = f.input :name
      = f.input :permalink
      = f.input :visible_starting, as: :string, input_html: { data: { provide: "datepicker" }}
      = f.input :due_date, as: :string, input_html: { data: { provide: "datepicker" }}
      = f.input :body
      = f.submit "Submit"

