.navbar-header
  %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

  %a.btn.navbar-brand{href: session_path(@course_session)}
    %span.glyphicon.glyphicon-chevron-up
    = @lesson.name
.navbar-collapse.collapse
  .pull-right
    - if !@page.first?
      %a.btn.btn-default.navbar-btn{href: page_path(@page.position - 1)}
        %span.glyphicon.glyphicon-chevron-left
        = @page.higher_item.name
    %a.btn.btn-default.navbar-btn{data: { toggle: "dropdown" }}
      %span.glyphicon.glyphicon-menu-hamburger
    %ul.dropdown-menu{role: "menu"}
      - @lesson.pages.each do |page|
        %li{class: page == @page ? "active" : ""}
          %a{href: page_path(page.position)}
            = "##{page.position}: #{page.name}"
            - if page.page_type
              %span.light= "(#{page.page_type.humanize})"
    - if !@page.last?
      %a.btn.btn-default.navbar-btn{href: page_path(@page.position + 1)}
        = @page.lower_item.name
        %span.glyphicon.glyphicon-chevron-right
    - elsif admin?
      %a.btn.btn-default.navbar-btn{href: new_session_lesson_page_path(@course_session, @lesson.position), data: { remote: true }}
        new page
